# General
numpy
pandas
matplotlib

# Audio
librosa
fluidsynth
essentia
librosa
pretty_midi
midi2audio
resampy
mido
pygame

# API
python-multipart
fastapi
uvicorn
python-dotenv
requests

# Modelling
transformers
torch
